body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner {
  padding-left: 20px;
  padding-top: 90px;
  background-image: url("/src/assets/geo.jpeg");
  background-size: cover;
  background-position: center; 
}

.aboutp {
  font-size: large;
}

.nav {
  font-size: large;
}


